<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
</head>
<body>
<h1>Ticket History</h1>
<form method="post" action="/history/">
{% csrf_token %}
    Section: <select name="section">
    {% for i in sections %}
        <option value="{{ i.0 }}">{{ i.1 }}</option>
    {% endfor %}
    </select>
    Day: <select name="day">
        {% for i in days %}
        <option value={{ i.0 }}>{{ i.1 }}</option>
        {% endfor %}
    </select>
<input type="submit">
</form>
{% if tickets.count != 0 %}
<table>
<tr>
    <th>Section</th>
    <th>Time</th>
    <th>Date</th>
</tr>
{% for ticket in tickets %}
<tr>
    <td>{{ ticket }}</td>
    <td>{% ticket[1] %}</td>
    <td>{% ticket[2] %}</td>
</tr>
{% endfor %}
</table>
{% endif %}
<br/><a href="/">Enter ticket</a>
</body>
</html>